    <%include header1%>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Acro Packaging</title>
    
    <%include header2%>
			  
			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start About Us -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">ABOUT ACRO PACKAGING</h3>
							<div class="row">
								<div class="col-lg-12">
									<blockquote class="generic-blockquote">
										Acro Packaging is one of the leading manufacturer and distributor of Bulk Bags (FIBC)s and Multi-Wall paper Bags over Pan-India with numerous happy and regular customers. Our purpose is to deliver our customers with effective and sustainable solutions  ensuring best quality at competitive prices. We differentiate ourselves through our customer service and technical expertise. We believe that our customers always come first and hence ensure availability of our customer service teams at all times.
									</blockquote>
								</div>
							</div>
				</div>
			</div>
			<!-- End About Us -->
			
			 <!-- Start Mision -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">MISSION AND VISION</h3>
							<div class="row">
								<div class="col-md-8">
									<div class="single-defination">
										<h4 class="mb-20">We Believe that</h4>
										<p>Acro Packaging’s mission is to achieve maximum customer satisfaction and attain a healthy relationship to maintain and develop the partnership. We here at Acro Packaging have the vision to be a leading brand in the packaging field by continuous innovation, fast logistics, responsible pre-post sales service and developing processes which are growth oriented.</p>
									</div>
								</div>
								<div class="col-md-4">
									<img src="img/misvis.png" alt="Mission" style="width: 100%;">
								</div>
							</div>
				</div>
			</div>
			 <!-- End Mission -->

			 <!-- Start Mision -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">QUALITY ASSURED</h3>
							<div class="row">
								<div class="col-md-8">
									<div class="single-defination">
										<!-- <h4 class="mb-20">We Believe that</h4> -->
										<p>No subtle elements are too little to ignore. We work intimately with our manufactures to guarantee that item quality reliably meets or surpasses industry principles. Acro Packaging screens and reviews its manufacturing plants all the time and utilizes just ISO certified plants for the manufacturing of our products. <br>All of our bulk bags are made utilizing just 100% Virgin Grade Polypropylene (PP). There are no fillers or reused materials used, to guarantee no compromise with  item quality and security.
									</div>
								</div>
								<div class="col-md-4">
									<img src="img/quality.png" alt="Support" style="width: auto;height: 200px;">
								</div>
							</div>
				</div>
			</div>
			 <!-- End Mission -->

			<!-- Start What we do -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">INNOVATION</h3>
							<div class="row">
								<div class="col-lg-12">
									<blockquote class="generic-blockquote">
										Acro Packaging  prides itself as a specialist in the packaging field. We trust our aptitude is extended by our search  for new thoughts and changes in our industry. We continually investigate new solutions, either through innovation on existing products or by developing of new products, to address packaging challenges with a view to addressing the necessities of our customers. We have in-house engineering mastery to address your packing issues. 
										<br><br>
										Regardless of whether your needs are for small industrial bags, bulk bags, liners, or some other items we offer, you can rest guaranteed that Acro Packaging will work tenaciously with you to guarantee that the products you get are the correct ones and at competitive prices.
									</blockquote>
								</div>
							</div>
				</div>
			</div>
			<!-- End What we do -->	
			<!-- Start What we do -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">QUALITY POLICY</h3>
							<div class="row">
								<div class="col-lg-12">
									<blockquote class="generic-blockquote">
										Quality at Acro Packaging is benchmarked to international standards and permeates into each and every step of the manufacturing and product delivery process.<br><br>
										A key component of our quality program is our focus on cleanliness and hygiene that ensure all our Bulk Bags (FIBC), especially food grade Bulk Bags (FIBC), are sanitized and free from dust, germs and pollutants.

									</blockquote>
								</div>
							</div>
				</div>
			</div>
			<!-- End What we do -->	
			<!-- Start What we do -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">QUALITY ASSURANCE</h3>
							<div class="row">
								<div class="col-lg-12">
									<blockquote class="generic-blockquote">
										Quality is front and center in all aspects of our business. Our strategies always revolve around quality, we guarantee you world-class quality products and services.
										The reason of our progressive growth is our range of quality products, which is acceptable around the world. Our range of polypropylene bags, Bulk Bags (FIBC) bags and fabrics undergo strict quality check at each level, including procurement of raw materials, designing, stitching and finishing.<br><br>
										Our main area of thrust is quality, which is well maintained and promoted by highly qualified and dedicated workforce. We have been using stringent quality measures to check the quality of our products such as Stability, Stackability, Load bearing strength, Moisture resistance, Toxicity, Tear strength etc.
										We have a quality management team to supervise the quality check-up by the time of production and before shipment of the products.
										We make sure that the raw material and end products comply with the international quality & safety norms. Advanced testing facilities are incorporated at our quality test labs and a high level of sophistication is maintained.

									</blockquote>
								</div>
							</div>
				</div>
			</div>
			<!-- End What we do -->	

			<!-- Start Whyus -->
			<div class="container">
				<div class="section-top-border">
							<h3 class="mb-30">WHY US?</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="single-defination">
										<h4 class="mb-20">Our Team </h4>
										<p>Acro Packaging’s core team consist of members who are highly experienced in both fields  i.e. management and technical expertise. Their strong belief in the company’s philosophy makes them work harder and smarter everyday providing best solution and services to our customer and progressing one step closer to the objective.</p>
									</div>
									<div>
										<h4 class="mb-20">Core Values</h4>
										<ul class="unordered-list">
											
											<li>100% business based on true partnership</li>
											</ul>
													<div>
														Increase Efficiency and effectiveness in production.
													</div>
													<div>
														A best production unit for satisfying customers.
													</div>
													<div>
														Helps building a quality into product.
													</div>
										<br>
										<ul class="unordered-list">
											<li>Fastest dispatches and shortest delivery time</li>
											<p>
												Our production unit is 80 kilometers (1 hr)  far to Hazira Port which is one of the biggest port in India.<br>
												Our Standard production lead time and prompt logistics services help us in providing goods to our customer when it is needed.

											</p>
											<li>Pre and post sales service</li>
											<p>
												Selling a customized product always require before and after sales services, like specification clarity, construction approvals, printing, packing, & transportation till destination harbor.<br>
												Understanding problems at customer end and giving them a helping hand and try to resolve mutually.

											</p>
											<li>Certified Manufactures and products</li>	
												<p>
													We ensure that our products are rendered from proper certified manufacturing plants.
													<br>
													We also ensure that our products have all required certificates and have cleared all our quality test before delivery.
												</p>
											</ul>
												<ol class="unordered-list">
													<li><span>Competitive Pricing</span></li>
													<p>With help of the latest technology and techniques the product we produce is of finest of qualities while keeping the extra cost of manufacture down to the minimum, this helps us maintain the competitive price in the market without compromising on the quality and strength of the product.The product is made completely of masterbatch plastic granules which helps in even distribution of load throughout the bag. The product you purchase is guaranteed to stand on its promised standard and you might not find a better economic value on the similar product available in the market.</p>
												</ol>
											<!-- </li> -->
											<!-- </ul> -->
									</div>
								</div>
							</div>
				</div>
			</div>
			 <!-- End Whyus -->



			<!-- Start home-calltoaction Area -->
			<section class="home-calltoaction-area relative">
				<div class="container">
					<div class="overlay overlay-bg"></div>
					<div class="row align-items-center section-gap">
						<div class="col-lg-8">
							<h1>Experience Great Support</h1>
							<p>
								Get in touch to get in touch to get your queries resolved and get custom solutions as well as pricing.
							</p>
						</div>
						<div class="col-lg-4 btn-left">
							<a href="contact" class="primary-btn">Reach Our Support Team</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-calltoaction Area -->										
				    																			
<% include footer%>