    <%include header1%>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Acro Packaging</title>
    
    <%include header2%>
    <style type="text/css">
    .row {
        padding-left: 25px;
    }
</style>

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">	
   <div class="overlay overlay-bg"></div>
   <div class="container">				
      <div class="row d-flex align-items-center justify-content-center">
         <div class="about-content col-lg-12">
            <h1 class="text-white">
               FAQ				
           </h1>	
           <p class="text-white link-nav"><a href="index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about"> FAQ</a></p>
       </div>	
   </div>
</div>
</section>
<!-- End banner Area -->	

<!-- Start About Us -->
<div class="container">
   <div class="section-top-border">
      <h3 class="mb-30">FIBC-BULK BAGS</h3>
      <div class="row">
         <div class="col-lg-12">
            <h4 class="mb-20">What is FIBC?</h4>
            <blockquote class="generic-blockquote">
               Flexible Intermediate Bulk Container. This is a technical determination for bulk bags.
           </blockquote><br>
           <h4 class="mb-20">What are bag "Types"?</h4>
           <blockquote class="generic-blockquote">
               Bulk bags can be “Typed” A,B,C, or D. This type of designation refers to:<br><br>
               Type A<br>
               Type A bulk bags are basic, all-purpose bags. No special requirements or designations for this type. No hazardous material or electrostatic capabilities. Non-flammable products only, not to be used in areas with explosive potential or around flammable gases.
               <br><br>
               Type B<br>
               Type B bulk bags have a fabric with a low breakdown voltage insulating fabric. Used in the presence of combustible dusts with MIE of greater than 3mj but not around flammable vapors. Use these bags to safely transport flammable powders.
               <br><br>
               Type C<br>
               Type C bulk bags have the capability to be electrically grounded. These bulk bags have conductive threads woven throughout the bag and are connected to tabs which must be grounded during filling and/or discharge. The threads dissipate static energy safely from the surface of the bag. Use these bags to safely transport flammable powders or when flammable dust or vapors are present.
               <br><br>
               Type D<br>
               Type D bags are static dissipating bags similar in use to Type C, but do not require grounding the bag. Instead the fabric itself has special additives which give it static dissipative qualities. Use these bags to safely transport flammable powders or when flammable dust or gases are present.
           </blockquote><br>
           <h4 class="mb-20">What are bag with liners?</h4>
           <blockquote class="generic-blockquote">
               Bulk bags can have plastic liners either inserted loosely or attached to the inside of the bag. All of Bulk Bag Depot’s stock lined bags are fixed inside with tabs during manufacturing. We also sell bulk bag liners which can be installed into most unlined bulk bags. Lined bulk bags offer good moisture and contaminate protection, but unless specifically made for liquids, they are not 100% waterproof.
           </blockquote><br>
       </div>
   </div>
   <br>

   <h3 class="mb-30">METAL PACKAGING</h3>
   <div class="row">
     <div class="col-lg-12">
        <h4 class="mb-20">What is Metal Packaging?</h4>
        <blockquote class="generic-blockquote">
           Metal packaging, made from aluminium or steel, is used throughout the retail, wholesale, commercial and industrial sectors. It comes in many shapes and sizes and can package virtually any product.
       </blockquote>
   </div>
</div>
<br>

<h3 class="mb-30">MULTIWALL PAPER BAGS</h3>
<div class="row">
 <div class="col-lg-12">
    <h4 class="mb-20">What Size Multiwall Bag Do I Need?</h4>
    <blockquote class="generic-blockquote">
       Customer wants to put 50 lbs into a bag<br>
       Product’s bulk density is 23<br>
       Take lbs (50) –divided by – bulk density (23) = bag volume (2.17)
   </blockquote><br>
   <h4 class="mb-20">Common Uses?</h4>
   <blockquote class="generic-blockquote">
       Building materials such as cement or sand<br>
       Food products such as flour or pet food<br>
       Seeds and Grains<br>
       Chemicals such as fertilizers or resins
   </blockquote><br>
</div>
</div><br>

<h3 class="mb-30">PP WOVEN SACKS</h3>
<div class="row">
    <div class="col-lg-12">
        <h4 class="mb-20">What is an PP Woven Sacks?</h4>
        <blockquote class="generic-blockquote">
            The PP Woven Sacks are tested as per the industry norms which make them highly durable, water and chemical resistant, light weight and sustainable. These sacks are eco friendly, can be recycled and can easily get decomposed. Our PP woven sacks are applicable in cement, sugar, chemical and fertilizer industries.
        </blockquote>
    </div>
</div>
<br>

<h3 class="mb-30">BOPP BAGS</h3>
<div class="row">
    <div class="col-lg-12">
        <h4 class="mb-20">What are some common uses?</h4>
        <blockquote class="generic-blockquote">
            Food Products<br>
            Pet Food<br>
            Animal Feed<br>
            Cat Litter<br>
            Building Materials<br>
            Fertilizer<br>
            Resins<br>
            Chemicals
        </blockquote><br>
        <h4 class="mb-20">Value Added Services ?</h4>
        <blockquote class="generic-blockquote">
            • Graphic Design & Enhancement<br><br>

            • Package Engineer and bag design<br><br>

            • State of the art printing services
        </blockquote><br>
    </div>
</div><br>

</div>
</div>
<!-- End About Us -->

<!-- Start home-calltoaction Area -->
<section class="home-calltoaction-area relative">
  <div class="container">
     <div class="overlay overlay-bg"></div>
     <div class="row align-items-center section-gap">
        <div class="col-lg-8">
           <h1>Experience Great Support</h1>
           <p>
              Get in touch to get in touch to get your queries resolved and get custom solutions as well as pricing.
          </p>
      </div>
      <div class="col-lg-4 btn-left">
       <a href="contact" class="primary-btn">Reach Our Support Team</a>
   </div>
</div>
</div>	
</section>
<!-- End home-calltoaction Area -->										

<% include footer%>