      <!-- start footer Area -->    
      <footer class="footer-area section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-footer-widget">
                <h6>Developer</h6>
                <p>Get in touch with our developer</p>
                <div class="footer-social d-flex align-items-center">
                  <a href="http://bit.ly/art_fb" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="http://bit.ly/art_gh" target="_blank"><i class="fa fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/arthak" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
              <!-- <div class="single-footer-widget">
                <h6>Quick links</h6>
                <ul>
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Brand Assets</a></li>
                  <li><a href="#">Investor Relations</a></li>
                  <li><a href="#">Terms of Service</a></li>
                </ul>               
              </div> -->
            </div> 
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-footer-widget">
                <h6>Contact US</h6>
                <ul>
                  <li>
                    Phone: +91 (875) 8080 884
                  </li>
                  <li>
                    Email: info@acropackaging.com
                  </li>
                  <li>
                    Address: 12, Bambwadi, Patel Industrial Society, Surat, GJ
                  </li>
                </ul>
                </div>
            </div>  
            <div class="col-lg-4  col-md-6 col-sm-6">
              <div class="single-footer-widget">
                <h6>Newsletter</h6>
                <p>Subscribe to our Newletter to get latest updates!</p>
                <div class="" id="mc_embed_signup">
                  <form target="_blank" action="https://acropackaging.us20.list-manage.com/subscribe/post?u=4ede5243a0e22175c6f10b552&amp;id=f233958cc5" method="get" class="form-inline">
                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                    <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                    <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                      </div>
<!-- <form action="newslettersend" method="post" class="form-inline">
                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                    <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                  </form> -->
                    <div class="info"></div>
                  </form>
                </div>
              </div>
            </div>  
            <p class="mt-80 mx-auto footer-text col-lg-12">
              
            </p>                      
          </div>
        </div>
        
      </footer> 
      <!-- End footer Area -->  

      <script src="js/vendor/jquery-2.2.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="js/vendor/bootstrap.min.js"></script>      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTvUZnCFd9rRX_zgbnYnRzwaDigOA_L80"></script>
        <script src="js/easing.min.js"></script>      
      <script src="js/hoverIntent.js"></script>
      <script src="js/superfish.min.js"></script> 
      <script src="js/jquery.ajaxchimp.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script> 
      <script src="js/jquery-ui.js"></script>               
      <script src="js/jquery.nice-select.min.js"></script>              
      <script src="js/mail-script.js"></script> 
      <script src="js/main.js"></script>  
    </body>
  </html>