
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!--
      CSS
      ============================================= -->
      <link rel="stylesheet" href="css/linearicons.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" href="css/nice-select.css">              
      <link rel="stylesheet" href="css/animate.min.css">
      <link rel="stylesheet" href="css/jquery-ui.css">      
      <link rel="stylesheet" href="css/main.css">
      <style type="text/css">
        .single-latest-blog{
          padding-bottom: 35px;
        }
      </style>
    </head>
    <body>
        <header id="header">
          <div>
        </div>
          <div class="container main-menu" style="padding-top:10px;padding-bottom: 10px;">
            <div class="row align-items-center justify-content-between d-flex">
              <a href="index"><img src="img/logo.png" alt="Logo" title="Acro Packaging Logo" style="height: 35px;width: auto;" /></a>    
            <nav id="nav-menu-container" style="margin-top: 8px;margin-bottom: 8px;">
              <ul class="nav-menu">
                <li class="menu-active"><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li class="menu-has-children"><a href="">PRODUCTS</a>
                  <ul>
                    <li><a href="fibc">FIBC Bulk Bags</a></li>
                    <li><a href="metal">Metal Packaging</a></li>
                    <li><a href="product?id=18">Multi Wall Paper Bags</a></li>
                    <li><a href="product?id=19">PP Woven Socks</a></li>
                    <li><a href="product?id=20">BOPP Bags</a></li>
                  </ul>
                </li>
                <li><a href="faq">FAQ</a></li>                                         
                <li><a href="contact">Contact Us</a></li>
              </ul>
            </nav><!-- #nav-menu-container -->    
            </div>
          </div>
        </header><!-- #header -->