    <%include header1%>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="Acro Packaging">
    <!-- Meta Description -->
    <meta name="description" content="If you are looking for Metal Packaging, Acro Packaging is one of the leading packaging company to meet all your packing demands">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Bulk Bags, Metal Packaging,Metal Packaging prices, Acro Packaging, Metal Packaging for sale, Metal Packaging manufacturer, Metal Packaging  uses, Metal Packaging india, Metal Packaging specification">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Metal Packaging | Acro Packaging</title>
    
    <%include header2%>
    <style type="text/css">
    .unordered-list li:before {
      top: 8px;
      left: 5px;
    } 
  </style>
  <!-- start banner Area -->
  <section class="banner-area relative about-banner" style="background: url(../img/ie.jpg)" id="home"> 
    <div class="overlay overlay-bg"></div>
    <div class="container">       
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">
            Metal Packaging
          </h1> 
          <p class="text-white link-nav"><a href="index#scroll2">Products </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Metal Packaging</a></p>
        </div>  
      </div>
    </div>
  </section>
  <!-- End banner Area -->  
  
       <!-- Start Products Area -->
      <section class="products-area section-gap" id ="scroll2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="single-latest-blog">
                <div class="thumb">
                  <img class="img-fluid" src="img/products/p15.jpg" alt="VCI Films">
                </div>
                <br>
                <a href="product?id=15">
                  <h4>VCI FILMS</h4>
                </a>
                <p>
                  VCI films are Volatile Corrosion Inhibitor films used for enhancing the life of the product.
                </p>
                <a href="product?id=15" class="genric-btn info circle">More Info</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-latest-blog">
                <div class="thumb">
                  <img class="img-fluid" src="img/products/p16.jpg" alt="VCI Paper">
                </div>
                <br>
                <a href="product?id=16">
                  <h4>VCI PAPER</h4>
                </a>
                <p>
                  VCI Paper comes with high VCI chemicals carrying capacity and is helpful in protecting metals.
                </p>
                <a href="product?id=16" class="genric-btn info circle">More Info</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-latest-blog">
                <div class="thumb">
                  <img class="img-fluid" src="img/products/p17.jpg" alt="VCI COATED PP WOVEN FABRIC">
                </div>
                <br>
                <a href="product?id=17">
                  <h4>VCI COATED PP WOVEN FABRIC</h4>
                </a>
                <p>
                  VCI coated PP woven fabrics are used where extra strength and high tear resistance is required.
                </p>
                <a href="product?id=17" class="genric-btn info circle">More Info</a>
              </div>
            </div>
               
          </div>
        </div>  
      </section>
      <!-- End products Area -->


  <% include footer%>